<!DOCTYPE html>
<html>

<head>

    <head th:replace="fragments/head :: head('Justificante de cambio de horario')"></head>
</head>

<body>

<div id="wrapper">



    <nav th:replace="fragments/verticalnavbar :: verticalnavbar"></nav>

    <div id="page-wrapper" class="gray-bg">
        <div th:replace="fragments/horizontalnavbar :: horizontalnavbar('Control de Justificantes')"></div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2>Ver Justificante</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">Inicio</a>
                    </li>
                    <li class="active">
                        <strong>Ver Justificante</strong>
                    </li>
                </ol>
            </div>
            <div class="col-sm-8 text-right">
                <label>Docente | Jaime Lopez Rabadan</label>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox-content">
                <h1 class="text-center">
                    <span class="text-navy">Generar Solicitud de Cambio de Horario</span>
                </h1>
                <form class="form-horizontal" action="#" th:action="@{/cambio-horario/add-cambio-horario}" th:object="${cambioHorarioModel}" method="post">

                    <div class="form-group"><label class="col-lg-4 ">Numero de Tarjeta : 02-002</label></div>
                    <div class="form-group"><label class="col-lg-4 ">Fecha de Incidencia : 5 / Abril / 2018</label></div>
                    <div class="form-group"><label class="col-lg-4 ">Justificacion: </label></div>
                    <div class="row">
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-8 center">
                            <div class="form-group"><textarea class="col-lg-6" style="height: 100px" th:field="*{justificacion}"></textarea></div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6"> <h3>Horario Actual</h3></div>
                        <div class="col-sm-6"><h3>Cambio de Horario</h3></div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-3 text-right"> <label>Hora de Entrada:</label></div>
                        <div class="col-sm-3"><label>7:00</label></div>
                        <div class="col-sm-3 text-right"> <label>Hora de Entrada:</label></div>
                        <div class="col-sm-3"><label>10:00</label></div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-3 text-right"> <label>Hora de Salida:</label></div>
                        <div class="col-sm-3"><input type="time" th:field="*{nuevaEntrada}" /></div>
                        <div class="col-sm-3 text-right"> <label>Hora de Salida:</label></div>
                        <div class="col-sm-3"><input type="time" th:field="*{nuevaSalida}"/></div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <p  th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
                                Complete todos los campos obligatorios.
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-sm btn-white" type="submit">Enviar</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-sm btn-white" type="submit">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2017
            </div>
        </div>

    </div>
</div>



<!-- Mainly scripts -->
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Jasny -->
<script src="js/plugins/jasny/jasny-bootstrap.min.js"></script>


<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>



</body>

</html>
