<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Cambiar Contraseña')"></head>
<body>
<script>
    var MSG1_6 = "Complete todos los campos obligatorios";
</script>
<div id="wrapper">
    <nav th:replace="fragments/verticalnavbar :: verticalnavbar(2)"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div th:replace="fragments/horizontalnavbar :: horizontalnavbar('Control de Justificantes')"></div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2>Cambiar Contraseña</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#" th:href="@{/personal}">Inicio</a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/personal/perfil}">Perfil</a>
                    </li>
                    <li class="active">
                        <strong>Cambiar Contraseña</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content">
                <h1 class="text-center">
                    <span class="text-navy">Cambio de Contraseña</span>
                </h1>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-2">
                        <form class="form-horizontal text-right" id="change_password_form"
                              th:action="@{/personal/perfil/cambiar/confirmar}"
                              method="post" th:object="${contraModel}">
                            <div class="form-group">
                                <label class="col-lg-4">Contraseña Actual: </label>
                                <div class="col-lg-4">
                                    <input type="password" placeholder="Contraseña actual" class="form-control"
                                           th:field="*{oldPassword}"
                                           oninvalid="if(this.value.length==0){ this.setCustomValidity(MSG1_6);
                                                      document.getElementById('MSG').innerHTML = MSG1_6; }"
                                           oninput="this.setCustomValidity('')"
                                           required>
                                    <div th:if="${estado == 'error'}" class="alert alert-danger danger" role="alert">
                                        Contraseña incorrecta.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Nueva Contraseña: </label>
                                <div class="col-lg-4">
                                    <input type="password" class="form-control"
                                           placeholder="Nueva contraseña" th:field="*{newPassword}"
                                           oninvalid="if(this.value.length==0){ this.setCustomValidity(MSG1_6);
                                                      document.getElementById('MSG').innerHTML = MSG1_6; }"
                                           oninput="this.setCustomValidity('')" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4">Repita Nueva Contraseña: </label>
                                <div class="col-lg-4">
                                    <input type="password" placeholder="Confirma la nueva contraseña"
                                           class="form-control" th:field="*{verifyPassword}"
                                           oninvalid="if(this.value.length==0){ this.setCustomValidity(MSG1_6);
                                                      document.getElementById('MSG').innerHTML = MSG1_6; }"
                                           oninput="this.setCustomValidity('')"
                                           required>
                                    <div th:if="${estado == 'diferente'}" class="alert alert-danger" role="alert">
                                        Nueva contraseña no coincide con la confirmación.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <input type="submit" value="Cambiar Contrase&ntilde;a"
                                           class="btn btn-sm btn-primary pull-right m-t-n-xs">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-6">
                                    <div th:if="${estado == 'exito'}" class="alert alert-success text-center" role="alert">
                                        Tu contraseña ha sido actualizada.
                                    </div>
                                    <div th:if="${estado == 'error2'}" class="alert alert-danger text-center" role="alert">
                                        Contraseña no válida.
                                    </div>
                                    <p id="MSG" hidden></p>
                                </div>
                                <div class="col-lg-3"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="#" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="#" th:src="@{/js/bootstrap.min.js}"></script>
<script src="#" th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script src="#" th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script src="#" th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
<script src="#" th:src="@{/js/inspinia.js}"></script>
<script src="#" th:src="@{/js/plugins/pace/pace.min.js}"></script>
</body>
</html>
