<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<nav>
    <ul>
        <li><a href="#" th:href="@{/asistencias/registrar}">Registrar asistencia</a></li>
        <li><a href="#" th:href="@{/usuarios/registrar}">Registrar usuario</a></li>
        <li><a href="#" th:href="@{/usuarios/modificar}">Modificar datos de usuarios</a></li>
    </ul>
</nav>
<section>
    <h1>Sistema de Control de Asistencia</h1>
</section>
</body>
</html>