<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/html">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Password Recovery</title>-->
<!--</head>-->
<head th:replace="fragments/head :: head('Recuperación de Contraseña')"></head>
<body class="gray-bg">
<script>
    var MSG1_6 = "Complete todos los campos obligatorios";
</script>
    <div class="passwordBox animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox-content">
                    <h2 class="font-bold">Recuperar Contraseña</h2>
                    <p>Para restablecer tu contraseña escribe tu correo electronico.</p>
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="m-t" role="form" action="#" th:action="@{/password-recovery/confirm}" method="post">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Correo electronico" name="email"
                                           th:value="${userEmail}"
                                           id="user-email"
                                           oninvalid="if(this.value.length==0){ this.setCustomValidity(MSG1_6);
                                                      document.getElementById('MSG').innerHTML = MSG1_6; }"
                                           oninput="this.setCustomValidity('')" required>
                                </div>
                                <button type="submit" class="btn btn-primary block full-width m-b">Recuperar Contraseña</button>
                            </form>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div th:if="${estado == 'exito'}" class="alert alert-success text-center" role="alert">
                            Se ha enviado el correo con tu nueva contraseña.
                        </div>
                        <div th:if="${estado == 'error'}" class="alert alert-danger text-center" role="alert">
                            Correo inexistente en el sistema.
                        </div>
                        <p id="MSG" hidden></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>