<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Sistema de Asistencia')"></head>
<body>
<div id="wrapper">
    <nav th:replace="fragments/verticalnavbarAsistencias :: verticalnavbar(2)"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div th:replace="fragments/horizontalnavbar :: horizontalnavbar('Sistema de Control de Asistencia')"></div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-6">
                <h2>Registro de Asistencia</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#" th:href="@{/asistencias}">Inicio</a>
                    </li>
                    <li class="active">
                        <strong>Registro de Asistencia</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <form role="form" class="form-horizontal">
                                <div class="form-group" id="data_1">
                                    <label class="col-lg-9 control-label">Fecha de Asistencia:</label>
                                    <div class="input-group date col-lg-2" data-provide="datepicker">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="yyyy-mm-dd"
                                               id="inputFecha" pattern="^\d{4}-\d{2}-\d{2}$"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-9"></div>
                                    <span class="col-lg-2 help-block text-danger hidden" id="error6">
                                            *Error en la fecha
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label for="inputTarjeta" class="col-lg-2 control-label">
                                        Numero de Tarjeta:
                                    </label>
                                    <div class="col-lg-3">
                                        <input type="text" placeholder="Número de Tarjeta" id="inputTarjeta"
                                               class="form-control" pattern="^\d{6,8}$">
                                        <span class="help-block text-danger hidden" id="error1">
                                            *Número de tarjeta no encontrado
                                        </span>
                                        <span class="help-block text-danger hidden" id="errorB">
                                            *Ingresa un número de tarjeta que sea valido
                                        </span>
                                        <span class="help-block text-danger hidden" id="errorC">
                                            *Registro repetido en el sistema en el dia ingresado
                                        </span>
                                    </div>
                                    <label for="inputEntrada" class="col-lg-2 control-label">
                                        Hora de Entrada:
                                    </label>
                                    <div class="col-lg-1">
                                        <input type="text" placeholder="Hora de Entrada" id="inputEntrada"
                                               class="form-control" pattern="^\d{1,2}:\d\d$">
                                        <span class="help-block text-danger hidden" id="error3">
                                            *Hora erronea
                                        </span>
                                    </div>
                                    <label for="inputSalida" class="col-lg-2 control-label">
                                        Hora de Salida:
                                    </label>
                                    <div class="col-lg-1">
                                        <input type="text" placeholder="Hora de Salida" id="inputSalida"
                                               class="form-control" pattern="^\d{1,2}:\d\d$">
                                        <span class="help-block text-danger hidden" id="error4">
                                            *Hora erronea
                                        </span>
                                    </div>
                                    <div class="col-lg-1">
                                        <button class="form-control btn btn-white" type="button" id="btnAgregar">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Número de Tarjeta</th>
                                    <th>Hora de Entrada</th>
                                    <th>Hora de Salida</th>
                                    <th>Fecha de Registro</th>
                                    <th>Eliminar</th>
                                </tr>
                                </thead>
                                <tbody id="bodyRegistros"></tbody>
                            </table>
                            <div class="row">
                                <div class="col-lg-8"></div>
                                <div class="col-lg-4">
                                    <button class="btn btn-white" type="button" id="btnRegistrarAsistencias">
                                        Registrar Asistencias
                                    </button>
                                    <span class="help-block text-success hidden" id="exito">
                                            *Operación exitosa
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Archivos javascript, luego los pongo en su propio archivo como el header-->
<script src="#" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="#" th:src="@{/js/bootstrap.min.js}"></script>
<script src="#" th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script src="#" th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script src="#" th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
<script src="#" th:src="@{/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
<script src="#" th:src="@{/js/inspinia.js}"></script>
<script src="#" th:src="@{/js/plugins/pace/pace.min.js}"></script>
<script src="#" th:src="@{/js/registrar-asistencia.js}" type="text/javascript"></script>
</body>
</html>