<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Registro de incidencias (provisional)</h1>
    <br />
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2> Licencia por Paternidad</h2>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <form action="#" enctype="multipart/form-data" th:action="@{/licenciapaternidad/add-lic-paternidad}" th:object="${licPaternidadModel}" method="post">
    <table>
        <tr>
            <td>
                Numero de tarjeta  :
            </td>
            <td>
                02031
            </td>
        </tr>
        <tr>
            <td>
                Fecha de incidencia:
            </td>
            <td>
                21/04/2018
            </td>
        </tr>
        <tr>
            <td>
                Justificacion:
            </td>
            <td>
                <input type="text" placeholder="Debido a... " th:field="*{justificacion}" th:value="*{justificacion}">
            </td>
        </tr>
    </table>
    <br />
    <br />
    <p>Selecciona los archivos</p>
    <table>
        <tr>
            <td>
                Documento 1:
            </td>
            <td>
                <div class="form-group">
                    <label class="custom-file" id="customFile1">
                        <input type="file" class="custom-file-input" name="file" aria-describedby="fileHelp">
                        <span class="custom-file-control form-control-file"></span>
                    </label>
                </div>

                <input type="text" th:field="*{registrolicencia}" th:value="*{registrolicencia}">
                <input type="text" th:field="*{actanacimiento}" th:value="*{actanacimiento}">
                <input type="text" th:field="*{actamatrimonio}" th:value="*{actamatrimonio}">
                <input type="text" th:field="*{constanciacurso}" th:value="*{constanciacurso}">
                <input type="text" th:field="*{comprobanteingresos}" th:value="*{comprobanteingresos}">
                <input type="text" th:field="*{copiaidentificacion}" th:value="*{copiaidentificacion}">
            </td>
            <td>
                nombre doc
            </td>
        </tr>

        <tr>
            <td>
                Documento 2:
            </td>
            <td>
                <div class="form-group">
                    <label class="custom-file" id="customFile2">
                        <input type="file" class="custom-file-input" name="file" aria-describedby="fileHelp">
                        <span class="custom-file-control form-control-file"></span>
                    </label>
                </div>
            </td>
            <td>
                nombre doc
            </td>
        </tr>
        <!--
        <tr>
            <td>
                Documento 3:
            </td>
            <td>
                <div class="form-group">
                    <label class="custom-file" id="customFile3">
                        <input type="file" class="custom-file-input" name="file" aria-describedby="fileHelp">
                        <span class="custom-file-control form-control-file"></span>
                    </label>
                </div>
            </td>
            <td>
                nombre doc
            </td>
        </tr>
        <tr>
            <td>
                Documento 4:
            </td>
            <td>
                <div class="form-group">
                    <label class="custom-file" id="customFile4">
                        <input type="file" class="custom-file-input" name="file" aria-describedby="fileHelp">
                        <span class="custom-file-control form-control-file"></span>
                    </label>
                </div>
            </td>
            <td>
                nombre doc
            </td>
        </tr>
        <tr>
            <td>
                Documento 5:
            </td>
            <td>
                <div class="form-group">
                    <label class="custom-file" id="customFile5">
                        <input type="file" class="custom-file-input" name="file" aria-describedby="fileHelp">
                        <span class="custom-file-control form-control-file"></span>
                    </label>
                </div>
            </td>
            <td>
                nombre doc
            </td>
        </tr>
        <tr>
            <td>
                Documento 6:
            </td>
            <td>
                <div class="form-group">
                    <label class="custom-file" id="customFile6">
                        <input type="file" class="custom-file-input" name="file" aria-describedby="fileHelp">
                        <span class="custom-file-control form-control-file"></span>
                    </label>
                </div>
            </td>
            <td>
                nombre doc
            </td>
        </tr>
-->
    </table>
        <input type="submit" value="Enviar">
    </form>
    <input type="submit" value="Cancelar">
</body>
</html>