<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Registro de incidencias (provisional)</h1>
    <br />
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2> Licencia por Paternidad</h2>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <form action="#" th:action="@{/add-lic-paternidad}" method="post">
    <table>
        <tr>
            <td>
                Numero de tarjeta :
            </td>
            <td>
                02031
            </td>
        </tr>
        <tr>
            <td>
                Fecha de incidencia:
            </td>
            <td>
                21/04/2018
            </td>
        </tr>
        <tr>
            <td>
                Justificacion:
            </td>
            <td>
                <input type="text" placeholder="Debido a... ">
            </td>
        </tr>
    </table>
    <br />
    <br />
    <p>Selecciona los archivos</p>
    <table>
        <tr>
            <td>
                Documento 1:
            </td>
            <td>
                <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>New Contact</button>
            </td>
            <td>
                nombre doc
            </td>
        </tr>
        <tr>
            <td>
                Documento 2:
            </td>
            <td>
                <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>New Contact</button>
            </td>
            <td>
                nombre doc
            </td>
        </tr>
        <tr>
            <td>
                Documento 3:
            </td>
            <td>
                <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>New Contact</button>
            </td>
            <td>
                nombre doc
            </td>
        </tr>
        <tr>
            <td>
                Documento 4:
            </td>
            <td>
                <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>New Contact</button>
            </td>
            <td>
                nombre doc
            </td>
        </tr>
        <tr>
            <td>
                Documento 5:
            </td>
            <td>
                <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>New Contact</button>
            </td>
            <td>
                nombre doc
            </td>
        </tr>
        <tr>
            <td>
                Documento 6:
            </td>
            <td>
                <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>New Contact</button>
            </td>
            <td>
                nombre doc
            </td>
        </tr>

    </table>
        <input type="submit" value="Enviar">
    </form>
    <input type="submit" value="Cancelar">
</body>
</html>