<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Sistema de Control de Asistencias')"></head>
<body>
<div id="wrapper">
    <div th:switch="${tipo_usuario}">
        <!--Barra vertical de cualquier superior-->
        <div th:case="1">
            <nav th:replace="fragments/verticalbar :: verticalnavbar(9)"></nav>
        </div>
        <!--Barra vertical de CH-->
        <div th:case="2">
            <nav th:replace="dch/verticalbar :: verticalnavbar(9)"></nav>
        </div>
    </div>
    <div id="page-wrapper" class="gray-bg">
        <div th:replace="fragments/horizontalnavbar :: horizontalnavbar('Control de Justificantes')"></div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2>Control de Justificantes</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">Inicio</a>
                    </li>
                    <li class="active">
                        <strong>Validar Justificantes</strong>
                    </li>
                </ol>
            </div>
            <div class="col-sm-8 text-right">
                <label th:text="${TipoAndNombre}"></label>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <h1 class="text-center">
                                <span class="text-navy">Aceptar Justificacion de Incidencias</span>
                            </h1>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Fecha</th>
                                    <th>Tipo de Justificacion</th>
                                    <th>Ver</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="justificante : ${justificantes}">
                                    <td th:text="${justificante.getPersonal().getNombre()}"></td>
                                    <td th:text="${justificante.getFechaAsString()}"></td>
                                    <td th:switch="${justificante.getTipo()}">
                                        <span th:case="1">Licencia Medica/Cuidados Familiares/Cuidados Maternos</span>
                                        <span th:case="2">Licencia por Paternidad</span>
                                        <span th:case="3">Cambio de Horario</span>
                                        <span th:case="4">Días Economicos</span>
                                        <span th:case="5">Tiempo Suplementario</span>
                                        <span th:case="6">Omision</span>
                                        <span th:case="7">Retardo</span>
                                        <span th:case="8">Comision Oficial</span>
                                        <span th:case="9">Constancia de Tiempo</span>
                                    </td>
                                    <td>
                                        <a class="btn btn-white"
                                           th:href="@{/justificantes/redirect(id=${justificante.idJustificante}, tipo=${justificante.tipo})}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="#" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="#" th:src="@{/js/bootstrap.min.js}"></script>
<script src="#" th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script src="#" th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script src="#" th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
<script src="#" th:src="@{/js/inspinia.js}"></script>
<script src="#" th:src="@{/js/plugins/pace/pace.min.js}"></script>
</body>
</html>
