<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--Esta linea manda a llamar el fragments/head para no repetir html-->
<head th:replace="fragments/head :: head('Solicitud de licencia por paternidad')"> <!--Le pasamos el titulo de la pagina-->
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>

    <div class="container-fluid">
      <div class="row">
        <!--Este es el menu vertical -->
        <nav th:replace="fragments/verticalnavbar :: navbar"></nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Ver Incidencias </h1>
          </div>
          <div class="container">
            <form class="form-inline">
              <div class="form-group mb-2">
                <label for="staticEmail2" class="sr-only">Fecha</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="3 / Abril / 2018">
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Tipo de Incidencia</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Falta">
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Tipo de Justificante</label>
                <select class="form-control">
                  <option>Licencia Medica</option>
                  <option>Licencia por Paternidad</option>
                  <option>Cambio de Horario</option>
                  <option>Dias Economicos</option>
                  <option>Cuidados Familiares</option>
                  <option>Cuidados Maternos</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary mb-2">Justificar</button>
            </form>

            <form class="form-inline">
              <div class="form-group mb-2">
                <label for="staticEmail2" class="sr-only">Fecha</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="5 / Abril / 2018">
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Tipo de Incidencia</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Retardo">
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Tipo de Justificante</label>
                <select class="form-control">
                  <option>Licencia Medica</option>
                  <option>Licencia por Paternidad</option>
                  <option>Cambio de Horario</option>
                  <option>Dias Economicos</option>
                  <option>Cuidados Familiares</option>
                  <option>Cuidados Maternos</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary mb-2">Justificar</button>
            </form>
          </div>
        </main>
      </div>
    </div>

    <!--Archivos javascript, luego los pongo en su propio archivo como el header-->
    <script src="#" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="#" th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
  </body>
</html>