<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Sistema de Control de Asistencias')"></head>
<body>
<div id="wrapper">
    <nav th:replace="fragments/verticalnavbar :: verticalnavbar(4)"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div th:replace="fragments/horizontalnavbar :: horizontalnavbar('Control de Justificantes')"></div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2>Ver Justificantes</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#" th:href="@{/personal}">Inicio</a>
                    </li>
                    <li class="active">
                        <strong>Ver Justificantes</strong>
                    </li>
                </ol>
            </div>
            <div class="col-sm-8 text-right">
                <label th:text="${TipoAndNombre}"></label>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Incidencias Generadas</h5>
                        </div>
                        <div class="ibox-content">
                            <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
                                <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Tipo de Justificacion</th>
                                    <th>Ver</th>
                                    <th>Estado</th>
                                </tr>
                                </thead>
                                <div th:if="${add == 1}" class="alert alert-success" role="alert">Se registró solicitud.</div>
                                <div th:if="${modificar == 1}" class="alert alert-success" role="alert">Modificación de justificación exitosa</div>
                                <div th:if="${modificar == 2}" class="alert alert-danger" role="alert">Modificación de justificación cancelada</div>

                                <tbody>
                                <tr th:each="justificante : ${justificantes}">
                                    <td th:text="${justificante.getFechaAsString()}"></td>


                                    <td th:switch="${justificante.getTipo()}">
                                        <span th:case="1">Licencia Medica/Cuidados Familiares/Cuidados Maternos</span>
                                        <span th:case="2">Licencia por Paternidad</span>
                                        <span th:case="3">Cambio de Horario</span>
                                        <span th:case="4">Dias Economicos</span>
                                    </td>


                                    <td>
                                        <a href="#" th:href="@{/personal/verjustificante}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                   <td th:switch="${justificante.getEstado().toLowerCase()}">
                                        <span th:case="'aceptado'"><i class="fa fa-check-circle"></i></span>
                                        <span th:case="'espera'"><i class="fa fa-clock-o"></i></span>
                                        <span th:case="'rechazado'"><i class="fa fa-times"></i></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="#" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="#" th:src="@{/js/bootstrap.min.js}"></script>
<script src="#" th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script src="#" th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script src="#" th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
<script src="#" th:src="@{/js/inspinia.js}"></script>
<script src="#" th:src="@{/js/plugins/pace/pace.min.js}"></script>
</body>
</html>