<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head('Sistema de Control de Asistencias')"></head>
<body>
<div id="wrapper">
    <nav th:replace="fragments/verticalnavbar :: verticalnavbar"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div th:replace="fragments/horizontalnavbar :: horizontalnavbar('Control de Justificantes')"></div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2>Ver Justificantes</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">Inicio</a>
                    </li>
                    <li class="active">
                        <strong>Ver Justificantes</strong>
                    </li>
                </ol>
            </div>
            <div class="col-sm-8 text-right">
                <label>Docente | Jaime Lopez Rabadan</label>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Incidencias Generadas</h5>
                        </div>
                        <div class="ibox-content">
                            <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Buscar">
                            <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
                                <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Tipo de Justificacion</th>
                                    <th>Ver</th>
                                    <th>Modificar</th>
                                    <th>Eliminar</th>
                                    <th>Estado</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="justificante : ${justificantes}">
                                    <td th:text="${justificante.getFecha()}"></td>
                                    <td th:text="${justificante.getJustificanteTipo()}"></td>
                                    <td><span data-feather="eye"></span></td>
                                    <td><span data-feather="edit"></span></td>
                                    <td><a href="#"
                                           th:href="@{/docente/removejustificante?(id=__${justificante.idJustificante}__)}"><span
                                            data-feather="trash-2"></span></a></td>
                                    <td th:text="${justificante.getEstado()}"></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2017
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>