<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="footer" th:fragment="footer">
    <div class="pull-right">
        Ingeniería de software <strong>3CM2</strong>
    </div>
    <div>
        <strong>Copyright</strong> Escuela Superior de Cómputo &copy; 2018
    </div>
</div>
</body>
</html>





























+
    <link rel="stylesheet" href="#" th:href="@{/css/dashboard.css}"/>
    <!--Hoja de estilos personalizada-->
    <link rel="stylesheet" href="#" th:href="@{/css/estilos.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<!--Iniciar sesion-->
<!--Permisos economicos-->
<!--Eliminar justificante-->
</body>
</html>