<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="navbar">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="http://www.escom.ipn.mx/">
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" alt="Card image cap" th:src="@{/img/header.png}">
            </div>
        </a>
        <ul class="navbar-nav px-10">
            <li class="nav-item text-nowrap">
                <a class="nav-link h2" href="RegistrarAsistencia.html">SISTEMA DE CONTROL DE INCIDENCIAS</a>
            </li>
        </ul>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap"></li>
        </ul>
    </nav>
</body>