<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="col-md-2 d-none d-md-block bg-light sidebar" th:fragment="navbar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <!--nav-link active-->
                <a class="nav-link" href="#" th:href="@{/asistencias/registrar}">
                    <!--<span data-feather="home"></span>-->
                    Registrar Asistencia
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/asistencias/modificar}">Modificar Asistencia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/asistencias/mostrar}">
                    Mostrar Asistencia <!--<span class="sr-only">(current)</span>-->
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/asistencias/eliminar}">Eliminar Asistencia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Registrar Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Modificar Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ver Perfil</a>
            </li>
        </ul>
    </div>
</nav>
</body>