<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar-default navbar-static-side" role="navigation" th:fragment="verticalnavbar">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element"> <span>
                                <img alt="image" class="img-square img-responsive" th:src="@{/img/escom.png}" />
                                 </span>
                </div>
                <div class="logo-element">
                    Escom
                </div>
            </li>
            <li ><a href="#"><i class="fa fa-home"></i> <span class="nav-label">Inicio</span></a></li>
            <li><a href="#"><i class="fa fa-user-circle-o"></i> <span class="nav-label">Ver Perfil</span></a></li>
            <li class="active"><a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Ver Incidencias</span></a></li>
            <li><a href="#"><i class="fa fa-folder-o"></i> <span class="nav-label">Ver Justificantes</span></a></li>
        </ul>

    </div>
</nav>
</body>