<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar-default navbar-static-side" role="navigation" th:fragment="verticalnavbar(is_active)">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a href="http://www.escom.ipn.mx/">
                    <span>
                        <img alt="image" class="img-square img-responsive" src="#" th:src="@{/img/escom.png}"/>
                    </span>
                    </a>
                </div>
                <div class="logo-element">ESCOM</div>
            </li>
            <li th:class="${is_active == 1} ? 'active'">
                <a href="" th:href="@{/personal}">
                    <i class="fa fa-home"></i>
                    <span class="nav-label">Inicio</span>
                </a>
            </li>
            <li th:class="${is_active == 2} ? 'active'">
                <a href="#" th:href="@{/personal/perfil}">
                    <i class="fa fa-user-circle-o"></i>
                    <span class="nav-label">Ver Perfil</span>
                </a>
            </li>
            <li th:class="${is_active == 3} ? 'active'">
                <a href="#" th:href="@{/personal/incidencias}">
                    <i class="fa fa-files-o"></i>
                    <span class="nav-label">Ver Incidencias</span>
                </a>
            </li>
            <li th:class="${is_active == 4} ? 'active'">
                <a href="#" th:href="@{/personal/justificantes}">
                    <i class="fa fa-folder-o"></i>
                    <span class="nav-label">Ver Justificantes</span>
                </a>
            </li>
            <li>
                <a href="#" th:href="@{/logout}">
                    <i class="fa fa-sign-out"></i>
                    <span class="nav-label">Cerrar Sesion</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>