<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="dch/head :: head('Sistema de Asistencia')"></head>
<body>
<div id="wrapper">
    <nav th:replace="dch/verticalbar :: verticalnavbar(2)"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div th:replace="dch/navbar :: horizontalnavbar('Sistema de Control de Asistencia')"></div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-6">
                <h2>Registrar de Asistencia</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#" th:href="@{/dch}">Inicio</a>
                    </li>
                    <li class="active">
                        <strong>Registrar de Asistencia</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <form class="form-inline" th:action="@{/dch/asistencias/registrar}" method="POST"
                                  th:object="${modelo}">
                                <input type="text" hidden id="idAsistencia" th:field="*{id}"/>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group" id="data_1">
                                            <label class="col-4" for="fecha"> Fecha de Asistencia*:</label>
                                            <div class="input-group date col-sm-6">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input type="text" class="form-control" id="fecha" required
                                                       pattern="^\d{4}-\d{2}-\d{2}$" th:field="*{fecha}"
                                                       th:readonly="${fecha_deshabilitado}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="help-block m-b-none">*Campo Obligatorio</span>
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="tarjeta" class="col-2">Número de Tarjeta*:</label>
                                            <input type="text" placeholder="Número de Tarjeta" id="tarjeta"
                                                   class="form-control" required pattern="^0[1-8]\d{4}$"
                                                   th:field="*{tarjeta}" th:readonly="${tarjeta_deshabilitado}">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="horaEntrada" class="col-2">Hora de Entrada*</label>
                                            <input type="text" placeholder="Hora de Entrada" id="horaEntrada"
                                                   class="form-control" name="horaEntrada"
                                                   th:value="*{horaEntrada}"
                                                   pattern="^([0-2]\d:[0-5]\d|-)$"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="horaSalida" class="col-2">Hora de Salida*</label>
                                            <input type="text" placeholder="Hora de Salida" id="horaSalida"
                                                   class="form-control" name="horaSalida"
                                                   th:value="*{horaSalida}"
                                                   pattern="^([0-2]\d:[0-5]\d|-)$">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="col-2"> </label><br>
                                            <input class="btn btn-white" value="Registrar" type="submit"
                                                   name="registrar" th:disabled="${registrar_deshabilitado}"
                                                   id="btnRegistrar"/>

                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <input class="btn btn-white" value="Buscar" type="submit" name="buscar"
                                                   id="btnBuscar" th:disabled="${buscar_deshabilitado}"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="lead"><u id="nombre" th:text="${modelo.nombre}">Nombre de usuario</u>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="alert alert-danger" role="alert" th:if="${resultado == 1}">
                                        Numero de tarjeta no encontrado
                                    </div>
                                    <div class="alert alert-danger" role="alert" th:if="${resultado == 2}">
                                        Asistencia con el numero de tarjeta ya registrado
                                    </div>
                                    <div class="alert alert-success" role="alert" th:if="${resultado == 3}">
                                        Operación exitosa
                                    </div>
                                    <div class="alert alert-danger" role="alert" th:if="${resultado == 4}">
                                        Hora de entrada es mayor a la hora de salida
                                    </div>
                                    <div class="alert alert-danger" role="alert" th:if="${resultado == 5}">
                                        Fecha no valida para registrar asistencias
                                    </div>
                                    <div class="alert alert-danger hidden" role="alert" id="alertTarjeta">
                                        Numero de tarjeta incorrecto
                                    </div>
                                    <div class="alert alert-danger hidden" role="alert" id="alertCampos">
                                        Complete todos los campos obligatorios
                                    </div>
                                    <div class="alert alert-danger hidden" role="alert" id="alertFormatoHora">
                                        Hora Incorrecta
                                    </div>
                                </div>
                            </form>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Fecha de Registro</th>
                                    <th>Número de Tarjeta</th>
                                    <th>Hora de Entrada</th>
                                    <th>Hora de Salida</th>
                                    <th>Modificar</th>
                                    <th>Eliminar</th>
                                </tr>
                                </thead>
                                <tbody id="bodyTabla"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Archivos javascript, luego los pongo en su propio archivo como el header-->
<script src="#" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="#" th:src="@{/js/bootstrap.min.js}"></script>
<script src="#" th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script src="#" th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script src="#" th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
<script src="#" th:src="@{/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
<script src="#" th:src="@{/js/inspinia.js}"></script>
<script src="#" th:src="@{/js/plugins/pace/pace.min.js}"></script>
<script>
    function eliminar_registro(ev) {
        console.log("eliminar_registro");
        let $trEliminar = $(ev.target).parent().parent();
        if (window.confirm("¿Eliminar registro?")) {
            $trEliminar.empty();
        } else
            ev.preventDefault()
    }

    function modificar_registro(ev) {
        ev.preventDefault();
        let $trModificar = $(ev.target).parent().parent();

        document.getElementById("btnRegistrar").disabled = false;
        document.getElementById("btnBuscar").disabled = true;
        document.getElementById("fecha").readOnly = true;
        document.getElementById("tarjeta").readOnly = true;

        document.getElementById("tarjeta").value = $trModificar.children()[1].textContent;
        document.getElementById("horaEntrada").value = $trModificar.children()[2].textContent;
        document.getElementById("horaSalida").value = $trModificar.children()[3].textContent;
        document.getElementById("idAsistencia").value = $(ev.target).attr("data-id");
    }

    let $bodyRegistros = $("#bodyTabla");
    let inputDate = $('#data_1 .input-group.date');

    inputDate.datepicker({
        todayBtn: false,
        endDate: '+1d',
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: false,
        autoclose: true,
        format: "yyyy-mm-dd"
    });

    inputDate.on("changeDate", function (ev) {
        ev.preventDefault();
        $bodyRegistros.empty();

        let $fila = $(document.createElement("tr"));
        let $tdFecha = $(document.createElement("td"));
        let $tdTarjeta = $(document.createElement("td"));
        let $tdEntrada = $(document.createElement("td"));
        let $tdSalida = $(document.createElement("td"));
        let $tdEliminar = $(document.createElement("td"));
        let $tdModificar = $(document.createElement("td"));
        let $btnEliminar = $(document.createElement("a"));
        let $btnModificar = $(document.createElement("button"));
        let $iconoEliminar = $(document.createElement("i"));
        let $iconoModificar = $(document.createElement("i"));

        let data = {
            fecha: $('#fecha').val()
        };
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/api/dch/asistencias/consultar/todas",
            data: JSON.stringify(data),
            dataType: "json",
            success: function (resultado) {
                console.log("SUCCESS");
                for (let dato of resultado) {
                    $fila = $(document.createElement("tr"));
                    $tdFecha = $(document.createElement("td"));
                    $tdTarjeta = $(document.createElement("td"));
                    $tdEntrada = $(document.createElement("td"));
                    $tdSalida = $(document.createElement("td"));
                    $tdEliminar = $(document.createElement("td"));
                    $tdModificar = $(document.createElement("td"));
                    $btnEliminar = $(document.createElement("a"));
                    $btnModificar = $(document.createElement("button"));
                    $iconoEliminar = $(document.createElement("i"));
                    $iconoModificar = $(document.createElement("i"));

                    $tdFecha.text(dato.fecha);
                    $tdTarjeta.text(dato.tarjeta);
                    if (dato.horaEntrada === null)
                        $tdEntrada.text("-");
                    else
                        $tdEntrada.text(dato.horaEntrada.substring(0, 5));
                    if (dato.horaEntrada === null)
                        $tdSalida.text("-");
                    else
                        $tdSalida.text(dato.horaSalida.substring(0, 5));

                    $btnModificar.addClass("btn btn-white");
                    $iconoModificar.addClass("fa fa-pencil");
                    $btnModificar.append($iconoModificar);
                    $btnModificar.attr("data-id", dato.id);
                    $btnModificar.on("click", modificar_registro);
                    $tdModificar.append($btnModificar);

                    $btnEliminar.addClass("btn btn-white");
                    $btnEliminar.attr("href", `/dch/asistencias/eliminar/${dato.id}`);
                    $iconoEliminar.addClass("fa fa-times");
                    $btnEliminar.append($iconoEliminar);
                    $btnEliminar.on("click", eliminar_registro);
                    $tdEliminar.append($btnEliminar);

                    $fila.append($tdFecha);
                    $fila.append($tdTarjeta);
                    $fila.append($tdEntrada);
                    $fila.append($tdSalida);
                    $fila.append($tdModificar);
                    $fila.append($tdEliminar);

                    $bodyRegistros.append($fila);
                }
            },
            error: function (err) {
                console.log("ERROR " + err);
            }
        });
    });
    inputDate.trigger("changeDate");

    document.getElementById("tarjeta").oninput = function (ev) {
        this.setCustomValidity('');
        $("#alertTarjeta").addClass("hidden");
        $("#alertCampos").addClass("hidden");
        $('#alertFormatoHora').addClass("hidden");
    };

    document.getElementById("horaEntrada").oninput = function (ev) {
        this.setCustomValidity('');
        $("#alertTarjeta").addClass("hidden");
        $("#alertCampos").addClass("hidden");
        $('#alertFormatoHora').addClass("hidden");
    };

    document.getElementById("horaSalida").oninput = function (ev) {
        this.setCustomValidity('');
        $("#alertTarjeta").addClass("hidden");
        $("#alertCampos").addClass("hidden");
        $('#alertFormatoHora').addClass("hidden");
    };

    document.getElementById("fecha").oninput = function (ev) {
        this.setCustomValidity('');
        $("#alertTarjeta").addClass("hidden");
        $("#alertCampos").addClass("hidden");
        $('#alertFormatoHora').addClass("hidden");
    };

    document.getElementById("horaEntrada").oninvalid = function(ev) {
        console.log("input horaEntrada");
        if (this.validity.patternMismatch) {
            this.setCustomValidity('Hora incorrecta');
            $('#alertFormatoHora').removeClass("hidden");
        } else {
            console.log("valido")
        }
    };

    document.getElementById("horaSalida").oninvalid = function(ev) {
        console.log("input horaSalida");
        if (this.validity.patternMismatch) {
            this.setCustomValidity('Hora incorrecta');
            $('#alertFormatoHora').removeClass("hidden");
        } else {
            console.log("valido")
        }
    };

    document.getElementById("tarjeta").oninvalid = function (ev) {
        console.log("input tarjeta");
        if (this.validity.patternMismatch) {
            this.setCustomValidity("Numero de tarjeta incorrecto");
            $("#alertTarjeta").removeClass("hidden");
        }else if (!this.validity.valid) {
            this.setCustomValidity("Complete todos los campos obligatorios");
            console.log("NO VALIDO");
            $("#alertCampos").removeClass("hidden");
        } else {
            console.log("VALIDO");
        }
    };
    document.getElementById("fecha").oninvalid = function (ev) {
        console.log("input fecha");
        this.setCustomValidity("Complete todos los campos obligatorios");
        $("#alertCampos").removeClass("hidden");
    };
</script>
</body>
</html>