<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="dch/head :: head('Sistema de Asistencia')"></head>
<body>
<div id="wrapper">
    <nav th:replace="dch/verticalbar :: verticalnavbar(3)"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div th:replace="dch/navbar :: horizontalnavbar('Sistema de Control de Asistencia')"></div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-6">
                <h2>Modificar de Asistencia</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#" th:href="@{/dch}">Inicio</a>
                    </li>
                    <li class="active">
                        <strong>Modificar Asistencia</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <form role="form" class="form-horizontal" th:object="${modelo}" method="POST"
                                  action="#" th:action="@{/dch/asistencias/modificar}">
                                <div class="form-group" id="data_1">
                                    <label class="col-lg-9 control-label" th:for="inputFecha">
                                        Fecha de Asistencia:
                                    </label>
                                    <div class="input-group date col-lg-2" data-provide="datepicker">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="yyyy-mm-dd"
                                               id="inputFecha" pattern="^\d{4}-\d{2}-\d{2}$" required
                                               th:field="*{fecha}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-9"></div>
                                    <span class="col-lg-2 help-block text-danger" th:if="${#fields.hasErrors('fecha')}">
                                            *Error en la fecha
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label for="inputTarjeta" class="col-lg-2 control-label">
                                        Numero de Tarjeta:
                                    </label>
                                    <div class="col-lg-3">
                                        <input type="text" placeholder="Número de Tarjeta" id="inputTarjeta"
                                               class="form-control" name="tarjeta"
                                               th:value="${modelo.tarjeta == 0} ? '' : ${modelo.tarjeta}" required/>
                                    </div>
                                    <label for="inputEntrada" class="col-lg-1 control-label">
                                        Hora de Entrada:
                                    </label>
                                    <div class="col-lg-2">
                                        <input type="text" placeholder="Hora de Entrada" id="inputEntrada"
                                               class="form-control" pattern="^\d{2}:\d{2}$" th:value="*{horaEntrada}"
                                               name="horaEntrada"/>
                                        <span class="help-block text-danger"
                                              th:if="${#fields.hasErrors('horaEntrada')} and ${validar}">
                                            *Hora erronea
                                        </span>
                                    </div>
                                    <label for="inputSalida" class="col-lg-1 control-label">
                                        Hora de Salida:
                                    </label>
                                    <div class="col-lg-2">
                                        <input type="text" placeholder="Hora de Salida" id="inputSalida"
                                               class="form-control" pattern="^\d{2}:\d{2}$" name="horaSalida"
                                               th:value="*{horaSalida}"/>
                                        <span class="help-block text-danger"
                                              th:if="${#fields.hasErrors('horaSalida')} and ${validar}">
                                            *Hora erronea
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-2">
                                        <input class="btn btn-white" type="submit" name="consultar" value="Consultar"/>
                                        <span th:if="${resultado == 1}" class="help-block text-danger">
                                            *Número de tarjeta no encontrado
                                        </span>
                                        <span class="help-block text-danger" th:if="${#fields.hasErrors('tarjeta')}">
                                            *Ingresa el Numero de Tarjeta
                                        </span>
                                        <span th:if="${resultado == 2}" class="help-block text-danger">
                                            *No se encontró registro
                                        </span>
                                    </div>
                                    <div class="col-lg-5"></div>
                                    <div class="col-lg-2">
                                        <input class="btn btn-white" type="submit" name="modificar"
                                               value="Modificar Asistencia"/>
                                        <span th:if="${resultado == 3}" class="help-block text-success">
                                            *Operación Exitosa
                                        </span>
                                        <span th:if="${resultado == 4}" class="help-block text-danger">
                                            *No se guardaron los registros
                                        </span>
                                    </div>
                                    <div class="col-lg-1"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Archivos javascript, luego los pongo en su propio archivo como el header-->
<script src="#" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="#" th:src="@{/js/bootstrap.min.js}"></script>
<script src="#" th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script src="#" th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script src="#" th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
<script src="#" th:src="@{/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
<script src="#" th:src="@{/js/inspinia.js}"></script>
<script src="#" th:src="@{/js/plugins/pace/pace.min.js}"></script>
<script>
    $('#data_1 .input-group.date').datepicker({
        todayBtn: true,
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: false,
        autoclose: true,
        format: "yyyy-mm-dd"
    });
</script>
</body>
</html>