<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="dch/head :: head('Sistema de Asistencia')"></head>
<body>
<div id="wrapper">
    <nav th:replace="dch/verticalbar :: verticalnavbar(2)"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div th:replace="dch/navbar :: horizontalnavbar('Sistema de Control de Asistencia')"></div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-6">
                <h2>Registrar de Asistencia</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#" th:href="@{/dch}">Inicio</a>
                    </li>
                    <li class="active">
                        <strong>Registrar de Asistencia</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <form role="form" class="form-inline">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group" id="data_1">
                                            <label class="col-4" for="fecha"> Fecha de Asistencia*:</label>
                                            <div class="input-group date col-sm-6">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input type="text" class="form-control" value="03/04/2014" id="fecha"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="help-block m-b-none">*Campo Obligatorio</span>
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="tarjeta" class="col-2">Numero de Tarjeta*:</label>
                                            <input type="text" placeholder="Numero de Tarjeta" id="tarjeta"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="horaEntrada" class="col-2">Hora de Entrada*</label>
                                            <input type="text" placeholder="Hora de Entrada" id="horaEntrada"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="horaSalida" class="col-2">Hora de Salida*</label>
                                            <input type="text" placeholder="Hora de Salida" id="horaSalida"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="exampleInput" class="col-2">Agregar</label><br>
                                            <button class="btn btn-white" type="button"><i class="fa fa-plus"></i>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <button class="btn btn-white" type="button">Buscar</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="lead"><u id="nombre">Nombre de usuario</u></p>
                                    </div>
                                </div>
                            </form>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Fecha de Registro</th>
                                    <th>Numero de Tarjeta</th>
                                    <th>Hora de Entrada</th>
                                    <th>Hora de Salida</th>
                                    <th>Modificar</th>
                                    <th>Eliminar</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>16 / 04 / 2018</td>
                                    <td>01-0002</td>
                                    <td>07:11</td>
                                    <td>15:00</td>
                                    <td>
                                        <button class="btn btn-white" type="button"><i class="fa fa-pencil"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-white" type="button"><i class="fa fa-times"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--Archivos javascript, luego los pongo en su propio archivo como el header-->
<script src="#" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="#" th:src="@{/js/bootstrap.min.js}"></script>
<script src="#" th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script src="#" th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script src="#" th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
<script src="#" th:src="@{/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
<script src="#" th:src="@{/js/inspinia.js}"></script>
<script src="#" th:src="@{/js/plugins/pace/pace.min.js}"></script>
</body>
</html>