<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="dch/head :: head('Sistema de Asistencia')"></head>
<body>
<div id="wrapper">
    <nav th:replace="dch/verticalbar :: verticalnavbar(6)"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div th:replace="dch/navbar :: horizontalnavbar('Sistema de Control de Asistencia')"></div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-6">
                <h2>Registrar Docente</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#" th:href="@{/dch}">Inicio</a>
                    </li>
                    <li>
                        Registrar Usuarios
                    </li>
                    <li class="active">
                        <strong>Registrar Docente</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content">
                <div class="tabs-container">
                    <ul th:replace="dch/navtabs :: navbar(1)"></ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <form class="form-horizontal text-right" action="#" th:action="@{/dch/registrar/docente}" method="post">
                                    <div class="form-group">
                                        <label class="col-lg-4 ">Departamento: </label>
                                        <div class="col-lg-4">
                                            <select class="form-control m-b" name="account">
                                                <option>Estado 1</option>
                                                <option>Estado 2</option>
                                                <option>Estado 3</option>
                                                <option>Estado 4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 ">Numero de Empleado: </label>
                                        <div class="col-lg-4">
                                            <input type="text" placeholder="Numero de Empleado" class="form-control">
                                            <span class="help-block m-b-none text-danger"> * Dato no valido</span>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 ">Nombre (s): </label>
                                        <div class="col-lg-4">
                                            <input type="text" placeholder="Nombre (s)" class="form-control">
                                            <span class="help-block m-b-none text-danger"> * Dato no valido</span>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 ">Apellido Paterno: </label>
                                        <div class="col-lg-4">
                                            <input type="text" placeholder="Nombre (s)" class="form-control">
                                            <span class="help-block m-b-none text-danger"> * Dato no valido</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 ">Apellido Materno: </label>
                                        <div class="col-lg-4">
                                            <input type="text" placeholder="Nombre (s)" class="form-control">
                                            <span class="help-block m-b-none text-danger"> * Dato no valido</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 ">Correo Electronico: </label>
                                        <div class="col-lg-4">
                                            <input type="email" placeholder="Numero de Empleado" class="form-control">
                                            <span class="help-block m-b-none text-danger"> * Dato no valido</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 ">Sexo: </label>
                                        <div class="col-lg-2">
                                            <select class="form-control m-b" name="account">
                                                <option>Masculino</option>
                                                <option>Femenino</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-lg-4 ">Horas: </label>
                                                <div class="col-lg-4">
                                                    <input class="touchspin3" type="text" value="" name="demo3">
                                                </div>
                                                <span class="help-block m-b-none text-danger"> * Dato no valido</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="i-checks col-lg-6"><label> <input type="checkbox"><i></i>
                                                    Horario Abierto </label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-left">
                                        <div class="col-sm-offset-2 col-sm-2"><label>Lunes</label></div>
                                        <div class=" col-sm-2"><label>Martes</label></div>
                                        <div class=" col-sm-2"><label>Miercoles</label></div>
                                        <div class=" col-sm-2"><label>Jueves</label></div>
                                        <div class=" col-sm-2"><label>Viernes</label></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2"><label>Hora de Entrada:</label></div>
                                        <div class=" col-sm-2">
                                            <select class="form-control m-b" name="account">
                                                <option>opcion 1</option>
                                                <option>opcion 2</option>
                                            </select>
                                        </div>
                                        <div class=" col-sm-2">
                                            <select class="form-control m-b" name="account">
                                                <option>opcion 1</option>
                                                <option>opcion 2</option>
                                            </select>
                                        </div>
                                        <div class=" col-sm-2">
                                            <select class="form-control m-b" name="account">
                                                <option>opcion 1</option>
                                                <option>opcion 2</option>
                                            </select>
                                        </div>
                                        <div class=" col-sm-2">
                                            <select class="form-control m-b" name="account">
                                                <option>opcion 1</option>
                                                <option>opcion 2</option>
                                            </select>
                                        </div>
                                        <div class=" col-sm-2">
                                            <select class="form-control m-b" name="account">
                                                <option>opcion 1</option>
                                                <option>opcion 2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2"><label>Hora de Salida:</label></div>
                                        <div class=" col-sm-2">
                                            <select class="form-control m-b" name="account">
                                                <option>opcion 1</option>
                                                <option>opcion 2</option>
                                            </select>
                                        </div>
                                        <div class=" col-sm-2">
                                            <select class="form-control m-b" name="account">
                                                <option>opcion 1</option>
                                                <option>opcion 2</option>
                                            </select>
                                        </div>
                                        <div class=" col-sm-2">
                                            <select class="form-control m-b" name="account">
                                                <option>opcion 1</option>
                                                <option>opcion 2</option>
                                            </select>
                                        </div>
                                        <div class=" col-sm-2">
                                            <select class="form-control m-b" name="account">
                                                <option>opcion 1</option>
                                                <option>opcion 2</option>
                                            </select>
                                        </div>
                                        <div class=" col-sm-2">
                                            <select class="form-control m-b" name="account">
                                                <option>opcion 1</option>
                                                <option>opcion 2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-offset-2 col-sm-2">
                                            <span class="help-block m-b-none text-danger"> * Horario no valido</span>
                                        </div>
                                        <div class="col-sm-2">
                                            <span class="help-block m-b-none text-danger"> * Horario no valido</span>
                                        </div>
                                        <div class="col-sm-2">
                                            <span class="help-block m-b-none text-danger"> * Horario no valido</span>
                                        </div>
                                        <div class="col-sm-2">
                                            <span class="help-block m-b-none text-danger"> * Horario no valido</span>
                                        </div>
                                        <div class="col-sm-2">
                                            <span class="help-block m-b-none text-danger"> * Horario no valido</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-3 col-lg-6">
                                            <button type="submit" class="btn btn-block btn-outline btn-primary">
                                                REGISTRAR
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-offset-1 col-sm-3">
                                            <span class="help-block m-b-none text-danger">
                                                * No se registro al usuario
                                            </span>
                                        </div>
                                        <div class="col-sm-3">
                                            <span class="help-block m-b-none text-danger">
                                                * Complete todos los campos
                                                obligatorios
                                            </span>
                                        </div>
                                        <div class="col-sm-3">
                                            <span class="help-block m-b-none text-danger">
                                                * Numero de empleado ya registrado
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="#" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="#" th:src="@{/js/bootstrap.min.js}"></script>
<script src="#" th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script src="#" th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script src="#" th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
<script src="#" th:src="@{/js/inspinia.js}"></script>
<script src="#" th:src="@{/js/plugins/pace/pace.min.js}"></script>
</body>
</html>
