<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="dch/head :: head('Sistema de Asistencia')"></head>
<body>
<div id="wrapper">
    <nav th:replace="dch/verticalbar :: verticalnavbar(6)"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div th:replace="dch/navbar :: horizontalnavbar('Sistema de Control de Asistencia')"></div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-6">
                <h2>Registrar PAAE</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#" th:href="@{/dch}">Inicio</a>
                    </li>
                    <li>
                        Registrar Usuarios
                    </li>
                    <li class="active">
                        <strong>Registrar PAAE</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content">
                <div class="tabs-container">
                    <ul th:replace="dch/navtabs :: navbar(2)"></ul>
                    <div class="tab-content">
                        <div id="tab-2" class="tab-pane active">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12 text-right">
                                        <span class="help-block m-b-none">*Campo Obligatorio</span>
                                    </div>
                                </div>
                                <br>
                                <form class="form-horizontal" action="#" th:action="@{/dch/usuarios/registrar/paae}"
                                      method="POST" th:object="${modeloPAAE}">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-sm-4" for="nombre">Nombre*:</label>
                                                <div class="input-group col-sm-8">
                                                    <input type="text" class="form-control" placeholder="Nombre"
                                                           required th:field="*{nombre}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-sm-4" for="apPaterno">Apellido Paterno*:</label>
                                                <div class="input-group col-sm-8">
                                                    <input type="text" class="form-control" required
                                                           th:field="*{apPaterno}" placeholder="Apellido Paterno">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-sm-4" for="apMaterno">Apellido Materno*:</label>
                                                <div class="input-group col-sm-8">
                                                    <input type="text" class="form-control" required
                                                           th:field="*{apMaterno}" placeholder="Apellido Materno" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label class="col-sm-4" for="departamento">Departamento*:</label>
                                                <div class="input-group col-sm-6">
                                                    <select class="form-control m-b" required
                                                            th:field="*{departamento}">
                                                        <option th:each="depa : ${departamentos}"
                                                                th:value="${depa.idDepartamento}"
                                                                th:text="${depa.nombre}">Estado
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label class="col-sm-4" for="noEmpleado">
                                                    Numero de Empleado*:
                                                </label>
                                                <div class="input-group col-sm-6">
                                                    <input type="text" class="form-control" required pattern="^\d{4,8}$"
                                                           placeholder="Numero de Empleado" th:field="*{noEmpleado}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-sm-4" for="sexo">Sexo*:</label>
                                                <div class="input-group col-sm-8">
                                                    <select class="form-control m-b" th:field="*{sexo}" required>
                                                        <option value="H">Hombre</option>
                                                        <option value="M">Mujer</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label class="col-sm-4" for="correo">Correo Electronico*:</label>
                                                <div class="input-group col-sm-6">
                                                    <input type="email" class="form-control" required
                                                           placeholder="Correo Electronico" th:field="*{correo}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label for="horaEntrada">Hora de Entrada:</label>
                                        </div>
                                        <div class=" col-sm-2">
                                            <select class="form-control m-b" th:field="*{lunes.horaEntrada}"
                                                    required>
                                                <option th:each="hora, stat : ${horas}" th:value="${hora}"
                                                        th:text="${hora}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label for="horaSalida">Hora de Salida:</label>
                                        </div>
                                        <div class=" col-sm-2">
                                            <select class="form-control m-b" th:field="*{lunes.horaSalida}" required>
                                                <option th:each="hora : ${horas}" th:value="${hora}" th:text="${hora}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-offset-3 col-lg-6">
                                            <input type="submit" class="btn btn-block btn-outline btn-primary"
                                                   value="REGISTRAR"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="#" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="#" th:src="@{/js/bootstrap.min.js}"></script>
<script src="#" th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script src="#" th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script src="#" th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
<script src="#" th:src="@{/js/inspinia.js}"></script>
<script src="#" th:src="@{/js/plugins/pace/pace.min.js}"></script>
</body>
</html>
