<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar-default navbar-static-side" role="navigation" th:fragment="verticalnavbar(is_active)">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-square img-responsive" th:src="@{/img/escom.png}" src="#"/>
                    </span>
                </div>
                <div class="logo-element">ESCOM</div>
            </li>
            <li th:class="${is_active == 1} ? 'active'">
                <a href="#" th:href="@{/dch}">
                    <i class="fa fa-home"></i>
                    <span class="nav-label">Inicio</span>
                </a>
            </li>
            <li th:class="${is_active == 2} ? 'active'">
                <a href="#" th:href="@{/dch/asistencias/registrar}">
                    <i class="fa fa-paste"></i>
                    <span class="nav-label">Registrar Asistencia</span>
                </a>
            </li>
            <li th:class="${is_active == 4} ? 'active'">
                <a href="#" th:href="@{/dch/asistencias/mostrar}">
                    <i class="fa fa-book"></i>
                    <span class="nav-label">Visualizar Asistencias</span>
                </a>
            </li>
            <li th:class="${is_active == 6} ? 'active'">
                <a href="#" th:href="@{/dch/usuarios/registrar}">
                    <i class="fa fa-users"></i>
                    <span class="nav-label">Registrar Usuarios</span>
                </a>
            </li>
            <li th:class="${is_active == 9} ? 'active'">
                <a href="#" th:href="@{/dch/asistencia/dianolaborable}">
                    <i class="fa fa-paste"></i>
                    <span class="nav-label">Registrar dia no laborable</span>
                </a>
            </li>
            <li th:class="${is_active == 10} ? 'active'">
                <a href="#" th:href="@{/dch/asistencia/periodovacacional}">
                    <i class="fa fa-paste"></i>
                    <span class="nav-label">Registrar periodo vacacional</span>
                </a>
            </li>
            <li th:class="${is_active == 8} ? 'active'">
                <a href="#" th:href="@{/dch/perfil}">
                    <i class="fa fa-user-circle"></i>
                    <span class="nav-label">Ver Perfil</span>
                </a>
            </li>
            <li th:class="${is_active == 9} ? 'active'">
                <a href="#" th:href="@{/justificantes/validar}">
                    <i class="fa fa-user-circle"></i>
                    <span class="nav-label">Validar Justificantes</span>
                </a>
            </li>
            <li>
                <a href="#" th:href="@{/logout}">
                    <i class="fa fa-sign-out"></i>
                    <span class="nav-label">Cerrar Sesión</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
</body>