<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Tiempo suplementario')"></head>
<body>
<div id="wrapper">
    <nav th:replace="fragments/verticalnavbar :: verticalnavbar(3)"></nav>

    <div id="page-wrapper" class="gray-bg">
        <div th:replace="fragments/horizontalnavbar :: horizontalnavbar('Control de Justificantes')"></div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-6">
                <h2>Agregar Justificante Tiempo Suplementario</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#" th:href="@{/personal}">Inicio</a>
                    </li>
                    <li>
                        Justificantes
                    </li>
                    <li class="active">
                        <strong>Tiempo Suplementario</strong>
                    </li>
                </ol>
            </div>
            <div class="col-sm-5 text-right">
                <label th:text="${tipoAndNombre}">Docente | Jaime Lopez Rabadan</label>
            </div>
        </div>
        <div class="alert alert-danger" th:if="${sinTiempo == 1}">
            No cuenta con horas de tiempo suplementario realizadas
        </div>
        <div class="alert alert-danger" th:if="${errorHorasCubrir == 1}">
            Las horas seleccionadas no coinciden con el campo tiempo a cubrir
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox-content">
                <h1 class="text-center">
                    <span class="text-navy">Generar solicitud de tiempo suplementario</span>
                </h1>
                <form class="form-horizontal" th:action="@{/personal/justificantes/tiemposuplementario/agregar}" th:object="${justTiempoSuplementario}" method="post">
                    <div class="form-group"><label class="col-lg-6 ">Numero de Tarjeta : <span th:text="${noTarjeta}">02-002</span></label></div>
                    <div class="form-group"><label class="col-lg-6 ">Tipo de Incidencia : Tiempo Suplementario</label></div>
                    <div class="form-group"><label class="col-lg-6 ">Dia a Justificar por Tiempo Suplementario: <span th:text="${incidencia}" th:value="${incidencia}" th:field="*{fecha}"> 15/05/2018 </span></label></div>
                    <div class="form-group" >
                        <label class="col-sm-2"> Tiempo a Cubrir:</label>
                        <div class="input-group date col-sm-2">
                            <select class="form-control m-b" name="account" th:field="*{tiempocubrir}">
                                <option value="1">1 hr</option>
                                <option value="2">2 hrs</option>
                                <option value="3">3 hrs</option>
                                <option value="4">4 hrs</option>
                                <option value="5">5 hrs</option>
                                <option value="6">6 hrs</option>
                                <option value="7">7 hrs</option>
                                <option value="8">8 hrs</option>
                            </select>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Tiempo Generado</th>
                            <th>Seleccionar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="tiempo : ${tiempoSuplGenerado}">
                            <td th:text="${tiempo.fechaRegistro}">16 / 04 / 2018</td>
                            <td th:text="${tiempo.horas}">100 hr</td>
                            <td>
                                <div class="form-group" >
                                    <div class="input-group date col-sm-2">
                                        <div class="i-checks col-lg-6"><label><input type="checkbox" th:value="${tiempo.id}" th:field="*{idSeleccionados}" /><i></i></label></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <div class="col-lg-6"></div>
                        <div class="col-lg-3">
                            <button class="btn btn-sm btn-white" type="submit">Enviar</button>
                        </div>
                        <div class="col-lg-3">
                            <button class="btn btn-sm btn-white" id ="buttonCancelar" type="button" th:href="@{/personal/justificantes/tiempo-suplementario/cancelar}">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>  $("#buttonCancelar").on("click",function(){
    window.location.href="/personal/justificantes/tiempo-suplementario/cancelar";
});</script>

<script src="#" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="#" th:src="@{/js/justificanteTS.js}"></script>
<script src="#" th:src="@{/js/bootstrap.min.js}"></script>
<script src="#" th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script src="#" th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script src="#" th:src="@{/js/plugins/jasny/jasny-bootstrap.min.js}"></script>
<script src="#" th:src="@{/js/inspinia.js}"></script>
<script src="#" th:src="@{/js/plugins/pace/pace.min.js}"></script>
<script src="#" th:src="@{/js/plugins/cropper/cropper.min.js}"></script>
<script src="#" th:src="@{/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js}"></script>
</body>
</html>